@import "tailwindcss";


:root {
  --primary:  #1C4670;
  --orange: #F2994A;
  --yellow: #F2C94C;
}


@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .bg-orange {
    background-color: var(--orange);
  }
  .bg-yellow {
    background-color: var(--yellow);
  }
}
